<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Header</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Accueil</a>
            <a href="">Services</a>
            <a href="">Contact</a>
            <a href="">About</a>
        </nav>
    </header>
</body>
</html>